<h1>Flickr Login Successful</h1>

<p>You are logged in as <%= @login.username %> with token <%= @flickr.access_token %> and secret <%= @flickr.access_secret %>.</p>

<p>See ruby code in flickr_auth.rb for the steps we took to send the code, oauth_token and oauth_secret to Flickr to get the user's access token and access secret.</p>